services:
  postgres:
    image: postgres:17
    container_name: flightdb-postgres
    environment:
      POSTGRES_DB: flightdb
      POSTGRES_USER: flight
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
